.todo-container {
    background-color: rgb(62, 62, 62);
    border-radius: 10px;
}

.todo-table {
    width: 90%;
    margin: auto;
}

.todo-row {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.todo-input {
    border-radius: 0;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}